<a href="https://colab.research.google.com/github/charlieswb/Learning/blob/master/Keras101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
%tensorflow_version 2.x
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
from tensorflow import keras
from tensorflow.keras.layers import Input, Dense

In [44]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [45]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)
X = df.iloc[:, 0:4].values
Y = pd.get_dummies(df.iloc[:, -1]).values
df

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [46]:
# 4--100-100--3
def create_model():
  inputs = Input(shape=(4,))
  l1 = Dense(100, activation='relu')
  l2 = Dense(100, activation='relu')
  l3 = Dense(3)
  outputs = l3(l2(l1(inputs)))
  model = keras.Model(inputs, outputs)
  model.compile(optimizer=keras.optimizers.SGD(learning_rate=0.1), loss=keras.losses.MeanSquaredError())
  return model

In [47]:
model = create_model()
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.5, random_state=33)
model.fit(X_train, Y_train, epochs=500, verbose=0)

In [48]:
print('loss:', model.evaluate(X_test, Y_test))

3/3 [==============================] - 0s 2ms/step - loss: 0.0274
loss: 0.027420848608016968

Try KFold

In [49]:
from sklearn.model_selection import KFold

K = 2

best_model_loss = 1

for train_index,test_index in KFold(K).split(X):
  X_train, X_test = X[train_index], X[test_index]
  Y_train, Y_test = Y[train_index], Y[test_index]
  
  model_iris = create_model()
  model_iris.fit(X_train, Y_train, epochs=500, verbose=0)
  
  loss = model_iris.evaluate(X_test, Y_test)
  if loss < best_model_loss:
    best_model = model_iris
    best_model_loss = loss
  print('loss:', loss)

3/3 [==============================] - 0s 2ms/step - loss: 0.4861
loss: 0.486091673374176
3/3 [==============================] - 0s 2ms/step - loss: 0.5250
loss: 0.5250036716461182

In [50]:
best_model_loss

0.486091673374176